
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Display Antrean Poliklinik</title>

    <!-- Fonts -->
    <link href="@(ViewBag.UrlRoot)/Bootstrap/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="@(ViewBag.UrlRoot)/Bootstrap/Queue/Display/assets/css/appDisplay.css" rel="stylesheet">

    <script src="@(ViewBag.UrlRoot)/Bootstrap/plugins/jquery/jquery.min.js"></script>
    <script src="@(ViewBag.UrlRoot)/Bootstrap/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <style>
        .main-top-box-section {
            border: 4px solid #21519b;
            border-radius: 15px;
            height: 74vh;
        }

        .main-top-box-content-section {
            font: bolder 4vh arial, verdana;
            background-color: #21519b;
            color: white;
            width: 100%;
            height: 15vh;
            /*padding: 0px 15px;*/
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }

        .main-top-box-content-number-section {
            font: bold 24vh arial, verdana;
            padding: 15vh 0px;
        }
    </style>
    <!-- Styles -->
</head>
<body>
    <header>
        <div class="header-section-content row d-flex align-items-center py-3">
            <div class="col-8 header-left d-flex flex-row align-items-center px-2">
                <div class="logo-header-section-card px-2">
                    <img src="data:image/png;base64, @(Convert.ToBase64String((byte[])ViewData["Healthcare_HealthcareLogo"]))" alt="Logo RS" style="width: 3.5vw;" />
                </div>
                <div class="title-header-section-card align-items-center">
                    <div class="title-1" style="font: bold 1.2vw arial, verdana; text-shadow: 1px 1px #738678;">@ViewData["Healthcare_HealthcareName"]</div>
                    <div class="title-2" style="font: 550 0.8vw arial, verdana; text-shadow: 0.5px 1px #738678;">@ViewData["AppParam_QueueDisplaySloganHealthcare"]</div>
                </div>
            </div>
            <div class="col-4 header-right text-right pr-3">
                <div class="times" style="font: bolder 1.2vw arial, verdana;"><span id="hours"></span>:<span id="minutes">:</span>:<span id="seconds"></span>&nbsp;<span id="ampm"></span></div>
                <div class="hari" id="date" style="font: bold 0.8vw arial, verdana;"></div>
                <div class="vendor-name">Powered by @ViewBag.Brand.VendorName</div>
            </div>
        </div>
        <div class="header-section-title">
            ANTREAN POLIKLINIK
        </div>
    </header>

    <main>
        <div class="container-fluid">
            <div class="main-top-box-section my-3">
                <div class="row main-top-box-content-section text-center">
                    <div class="col-12">
                        <span id="mainPolyclinicName">POLIKLINIK</span>
                        <br />
                        <span id="mainPolyclinicPhysician">DOKTER</span>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12 main-top-box-content-number-section"><span id="mainLoket">A-000</span></div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="row">
            <div class="col-12 footer-section mt-3">
                <div class="footer-content-section text-dark">
                    <span>@ViewData["AppParam_QueueDisplayScrollingText"]</span>
                </div>
            </div>
        </div>
    </footer>

    <div class="audio">
        @{
            foreach (var af in (QueueingSoundCollection)ViewBag.audioColl)
            {
                <audio id="a_@(af.Name.Replace(" " ,"_"))" src="@(ViewBag.audioPathURL)/@(af.FilePath)"></audio>
            }
        }
    </div>

    <script src="@(ViewBag.UrlRoot)/Bootstrap/rscideres/assets/js/clock.js"></script>
    <script type="text/javascript">
        var BaseURL = '@ViewBag.UrlRoot';

        $(document).ready(function () {
            $('.footer-content-section span').css('animation-duration', '@ViewData["AppParam_QueueDisplayScrollingDurationText"]');

            GetQueueing();

            setInterval(function () {
                GetQueueing();
            }, 4000);

            setInterval(function () {
                SayIt();
            }, 800);
        });

        var queData = [];
        var _fnGetDataIsRunning = false;
        function GetQueueing() {
            if (_fnGetDataIsRunning == true) return;

            _fnGetDataIsRunning = true;

            $.ajax({
                type: 'POST',
                url: "@(ViewBag.UrlRoot)/Queueing/GetQueueingByPhysician",
                data: {
                    qLocation: '@(ViewBag.qLocation)' != '' ? '@(ViewBag.qLocation)' : '02',
                    qPhysician: '@(ViewBag.qPhysician)'
                },
                success: function (data) {
                    //console.log(data);
                    if (data.status === 'OK') {
                        //console.log(data.data);
                        if (data.data != null) {

                            for (var i = 0; i < data.data.length; i++) {
                                queData.push(data.data[i]);
                                console.log(data.data[i]);
                            }
                        }
                    } else {
                        //DisplayToast(ret.data, "error");
                    }

                    _fnGetDataIsRunning = false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    _fnGetDataIsRunning = false;
                    //DisplayToast(xhr.responseText, "error");
                },
                dataType: 'json'
            });
        }

        var ctr = { "NamaPoli": "", "NamaDokter": "", "NoAntrian": "", "LastDateTime": new Date() };

        //var ctr = Array.from({ length: 9 }, () => ({
        //    NamaPoli: "",
        //    NoAntrian: "",
        //    LastDateTime: new Date()
        //}));

        function SayIt() {
            if (SetMediaIsRunning) return;

            if (queData.length > 0) {
                var que = queData.shift();
                //console.log(que);
                UpdateDisplay(que);
                SetMedia(que, 0);
            }
        }

        //function UpdateDisplayChild(que, i) {
        //    ctr.NamaPoli = que.ServiceUnitName;
        //    ctr.NamaPoli = que.ServiceUnitName;
        //    ctr.NoAntrian = que.FormattedNo;
        //    ctr.LastDateTime = new Date();

        //    $('#mainPolyclinicName').html(que.ServiceUnitName);
        //    $('#mainPolyclinicPhysician').html(que.ServiceUnitName);
        //    $('#code_1').html(que.FormattedNo);
        //    BlinkSpan($('#code_1'), 0);
        //}

        //function DisplayLoketSelection(que) {
        //    var j = 0; var lDate = new Date();

        //    for (i = 0; i < 4; i++) {
        //        if (ctr.NamaPoli == que.ServiceUnitName) {
        //            UpdateDisplayChild(que, i);
        //            return 0;
        //        }

        //        if (ctr.LastDateTime < lDate) {
        //            lDate = ctr.LastDateTime;
        //            j = i;
        //        }
        //    }

        //    UpdateDisplayChild(que, j);
        //}

        function UpdateDisplay(que) {
            // main
            $('#mainPolyclinicName').html(que.ServiceUnitName);
            $('#mainPolyclinicPhysician').html(que.ParamedicName);
            $('#mainLoket').html(que.FormattedNo);
            BlinkSpan($('#mainLoket'), 0);

            //DisplayLoketSelection(que);
        }

        function BlinkSpan(objSpan, i) {
            //console.log(i);
            if (i < 10) {
                if ((i % 2) == 0) {
                    // change css
                    objSpan.addClass("text-warning");
                } else {
                    // remove css
                    objSpan.removeClass("text-warning");
                }

                setTimeout(function () {
                    i++;
                    BlinkSpan(objSpan, i);
                }, 1000);
            }
        }

        var SetMediaIsRunning = false;
        function SetMedia(que, iDelay) {
            //console.log(que.AudioInfo.length);

            SetMediaIsRunning = true;
            if (que.AudioInfo.length == 0) {
                SetMediaIsRunning = false;
                return;
            }

            setTimeout(function () {
                var jDelay = 0;
                var af = que.AudioInfo.shift();
                var m = document.getElementById('a_' + af.Name.replace(" ","_"));
                //console.log('a_' + af.Name);
                //console.log(m);
                if (m != null) {
                    m.pause();
                    m.currentTime = 0;
                    jDelay = m.duration * 1000;
                    m.play();
                }
                //return;
                SetMedia(que, jDelay);
            }, iDelay);
        }

    </script>
</body>
</html>